/* -------------------- General styles ------------------ */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.625;
    color: #7581a1;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -0.03em;
    color: #192b59;
    max-width:540px;
    line-height: 1.125;
    margin-bottom: 64px;
}

h3 {
    margin: 0;
}

.title-h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #192b59;
    letter-spacing: -0.03em;
}

.title-h2 span {
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.2em;
    margin-bottom: 13px;
}

.title-h2-40 {
    font-size: 40px;
    margin: 0;    
    font-weight: 600;
    line-height: 1.2;
    color: #192b59;
    letter-spacing: -0.03em;
}

.title-h2-40 span {
    font-size: 18px;
    margin-bottom: 19px;    
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.2em;
}

.btn-primary {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #1085e4;
    padding: 20px 39px 21px 41px;
    border: 1px solid #1085e4;
    border-radius: 30px;
    letter-spacing: 0.2em;
    margin: 0;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: transparent;
}

.btn-secondary {
    color: #7e8bae;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #cbdbe8;
    padding: 20px 39px 21px 41px;
    border: 1px solid #cbdbe8;
    border-radius: 30px;
    letter-spacing: 0.2em;
}

.btn-secondary:hover {
    background-color: transparent;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

/* -------------------- Blocks styles ------------------ */

.page-header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 54px;
    padding-bottom: 337px;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 303px;
}

.logo {
    display: block;
    width: 181px;
    height: 49px;
    background-image: url(../img/header-logo.png);
}

.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
	list-style-type: none;
	margin: 0;
    padding: 0;
    display: flex;
}

.nav>li {
    padding: 0 19px;
}

.nav-item {
    color: #6e7ea9;
    letter-spacing: 0.2em;
}

.btn-free {
    font-weight: 400;
    letter-spacing: 0.2em;
    padding: 20px 51px;
}

.btn-group {
    font-size: 0;
}

.btn-group a + a {
    margin-left: 20px;
}

.page-company {
    background-color: #1e8ce6;
}

.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}

.grid h2 span{
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.grid-item .author {
    font-size: 14px;
    color: #1085e4;
}

.grid-item .author span {
    font-size: 16px;
    font-weight: 700;
    color: #192b59;
}

.page-subscribe {
    background-color: #0a2090;
}

.page-subscribe h2 {
    color: #fff;
}

.page-subscribe h2 span {
    color: #00bffe;
}

.page-subscribe p {
    color: #dfe8ff;
}

.page-subscribe input {
    font-size: 14px;
    line-height: 2;
    color: #b1c3ee;
}

.page-subscribe button {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 16px;
}

.page-software dt {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.625;
    color: #5a6789;
}

.page-stat {
    background-color: #edf6ff;
    padding: 117px 0 79px 0;
}

.page-stat .title-h2 {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.list-stat {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 42px;
    padding: 0;
}

.list-stat li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
}

.list-stat li span {
    font-size: 60px;
    color: #bacbdc;
    display: block;
    margin-bottom: 10px;
    letter-spacing: -0.03em;
}

.page-app .app-available {
    font-size: 16px;
    font-weight: 700;
    color: #c4d2dd;
    text-transform: uppercase;
}

.page-etid a {
    padding-left: 64px;
    padding-right: 62px;
}

.page-preview {
    background-color: #edf6ff;
    padding: 116px 0 0 0;
    text-align: center;
}

.screen {
    margin-top: 71px;
    margin-bottom: -7px;
}

.page-clients {
    background-color: #1085e4;
}

.page-clients h2,
.page-team h2{
    font-size: 40px;
    color: #fff;
}

.page-clients h2 span,
.page-team h2 span{
    font-size: 18px;
    color: #85c8ff;
}

.page-clients .author {
    font-size: 22px;
    font-weight: 600;
    color: #000958;
}

.page-clients .author span{
    font-size: 14px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
}

.page-plans {
    padding: 143px 0 71px 0;
    text-align: center;
}

.box-price {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 82px;
}

.box-price-item {
    background-color: #f5faff;
    flex-grow: 1;
    padding: 67px 0 99px 0;
    position: relative;
}

.box-price-item:not(.active)::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    top: 0;
    right: 0;
    border-left: 30px solid transparent;
    border-bottom: 312px solid transparent;
    border-top: 312px solid #edf4fb;
    border-right: 30px solid #edf4fb;
}

.box-price-item:not(:last-child) {
    margin-right: 30px;
}

.box-price-item.active {
    background-color: #192b59;
    color: #fff;
}

.box-price-item ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 62px;
    font-size: 14px;
}

.box-price-item .plan-title {
    color:#000958;
    font-size: 70px;
    letter-spacing: -0.03em;
    line-height: 1;
    margin-bottom: 43px;
}

.box-price-item .plan-title .title-currency {
    font-size: 20px;
    font-weight: 700;
}

.box-price-item.no-currency .plan-title .title-currency {
    display: none;
}

.box-price-item .plan-title .title-month {
    color: #7b8ab2;
    font-size: 20px;
    font-weight: 700;
}

.box-price-item.no-currency .plan-title .title-month {
    display: none;
}

.box-price-item .plan-title .title-subtitle {
    display: block;
    color: #0084ff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 20px;
}

.box-price-item.active .plan-title .title-subtitle {
    color: #fff;
}

.box-price-item.active .plan-title {
    color:#fff;
    font-size: 70px;
}

.box-price-item li:not(:last-child) {
    padding-bottom: 18px;
}

.box-price-item.active a {
    padding-left: 64px;
    padding-right: 62px;
}

.btn-info {
    color: #8085b1;
    background-color: transparent;
    border: 2px solid #dce1e5;
    padding: 19px 60px 20px 63px;
}

.btn-info:hover {
    color: #fff;
    background-color: #94b4cc;
    border: 2px solid #94b4cc;
}

.page-team {
    background-color: #1a88e1;
}

.page-team .author {
    font-size: 26px;
    color: #192b59;
}

.page-team .author span {
    font-size: 14px;
    font-weight: 800;
    color: #1a88e1;
    text-transform: uppercase;
    display: block;
}

.page-trail {
    background-color: #edf6ff;
}

.page-trail input,
.page-trail textarea {
   font-size: 14px;
   color: #8995b3;
}

.page-trail button {
    padding-left: 75px;
    padding-right: 55px;
    letter-spacing: 0.17em;
}

.page-footer {
    background-color: #192b59;
}