body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -0.03em;
    color: #192b59;
}

h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #192b59;
}

h2 span {
    font-size: 16px;
    font-weight: 800;
    line-height: 60px;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
}

.btn-primary {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #1085e4;
    padding: 20px 39px 21px 41px;
    border: 1px solid #1085e4;
    border-radius: 30px;
    letter-spacing: 0.2em;
    margin: 0;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}

.btn-secondary {
    color: #7e8bae;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #cbdbe8;
    padding: 20px 39px 21px 41px;
    border: 1px solid #cbdbe8;
    border-radius: 30px;
    letter-spacing: 0.2em;
}

.btn-secondary:hover {
    background-color: #fff;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.btn-free {
    font-weight: 400;
    letter-spacing: 0.2em;
    padding: 20px 51px;
}

.btn-group {
    font-size: 0;
}

.btn-group a + a {
    margin-left: 20px;
}

.page-company {
    background-color: #1e8ce6;
}

.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}

.grid h2 span{
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.grid-item .author {
    font-size: 14px;
    color: #1085e4;
}

.grid-item .author span {
    font-size: 16px;
    font-weight: 700;
    color: #192b59;
}

.page-subscribe {
    background-color: #0a2090;
}

.page-subscribe h2 {
    color: #fff;
}

.page-subscribe h2 span {
    color: #00bffe;
}

.page-subscribe p {
    color: #dfe8ff;
}

.page-subscribe input {
    font-size: 14px;
    line-height: 28px;
    color: #b1c3ee;
}

.page-subscribe button {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 16px;
}

.page-software dt {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #5a6789;
}

.page-stat {
    background-color: #edf6ff;
}

.page-stat li {
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    color: #1085e4;
    text-transform: uppercase;
}

.page-stat li span {
    font-size: 60px;
    font-weight: 700;
    line-height: 30px;
    color: #bacbdc;
    display: block;
}

.page-app .app-available {
    font-size: 16px;
    font-weight: 700;
    line-height: 60px;
    color: #c4d2dd;
    text-transform: uppercase;
}

.page-etid a {
    padding-left: 64px;
    padding-right: 62px;
}

.page-preview {
    background-color: #edf6ff;
}

.page-preview h2,
.page-plans h2 {
    font-size: 40px;
    line-height: 50px;
}

.page-preview h2 span,
.page-plans h2 span {
    font-size: 18px;
}

.btn-info {
    color: #8085b1;
    background-color: transparent;
    border: 2px solid #dce1e5;
    padding: 19px 60px 20px 63px;
}

.page-clients {
    background-color: #1085e4;
}

.page-clients h2,
.page-team h2{
    font-size: 40px;
    color: #fff;
}

.page-clients h2 span,
.page-team h2 span{
    font-size: 18px;
    color: #85c8ff;
}

.page-clients .author {
    font-size: 22px;
    font-weight: 600;
    color: #000958;
}

.page-clients .author span{
    font-size: 14px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
}

.box-price-item.active a {
    padding-left: 64px;
    padding-right: 62px;
}

.page-team {
    background-color: #1a88e1;
}

.page-team .author {
    font-size: 26px;
    color: #192b59;
}

.page-team .author span {
    font-size: 14px;
    font-weight: 800;
    color: #1a88e1;
    text-transform: uppercase;
    display: block;
}

.page-trail {
    background-color: #edf6ff;
}

.page-trail input,
.page-trail textarea {
   font-size: 14px;
   color: #8995b3;
}

.page-trail button {
    padding-left: 75px;
    padding-right: 55px;
    letter-spacing: 0.17em;
}

.page-footer {
    background-color: #192b59;
}